<div class="row split-pane">

	<div id="leftSplit" class="split split-horizontal">
		<div class="schema">
			<ul>
				<%= partial :node, collection: @doc.root.children %>
			</ul>
		</div>
	</div>

	<div id="rightSplit" class="split split-horizontal">
		<div id="info_panel">
			
			<div class="checkbox pull-right">
				<label><input type="checkbox" id="showXML"> Show XML</label>
			</div>
			
			<div class="contents">
				<h4><span class="glyphicon glyphicon-info-sign"></span> Information</h4>
				<em>Select an item in the schema to view more information</em>
				
				<hr>
				
				<h4>Loaded Files</h4>
				<ul class="list-unstyled">
					<% for file in @loaded %>
						<li>
							<i class="glyphicon glyphicon-file text-muted"></i> 
							<%= file.gsub(settings.root, "") %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

</div>